# Database Properties
spring.datasource.url=jdbc:postgresql://localhost:5432/scheme
spring.datasource.username=user
spring.datasource.password=password

# Hibernate Properties
# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect=org.hibernate.spatial.dialect.postgis.PostgisDialect

spring.jpa.show-sql = false

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update

debug=false
